
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/LayOutIndex/images/favicon/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="~/Assets/LayOutIndex/images/favicon/favicon.ico">

<!-- CSS Global -->
<link href="~/Assets/LayOutIndex/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/fonts/webfont/css/simple-line-icons.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/fonts/elegantfont/css/elegantfont.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/js/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/js/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/js/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/js/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">

<link href="~/Assets/LayOutIndex/css/theme.css" rel="stylesheet">
<link href="~/Assets/LayOutIndex/css/responsive.css" rel="stylesheet">
<!-- Content area -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <h2 class="hidden">breadcrumbs</h2>
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">FAQ</li>
            </ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE SECTION WITH SIDEBAR -->
    <section class="page-section page-about">
        <div class="container">
            <div class="row our-story">
                <div class="our-left col-lg-5 col-md-5 col-sm-6 col-xs-12 block">
                    <div class="block-title">
                        <h2>our story</h2>
                    </div>
                    <div class="block-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elitss ed do eiusmod tempor incididunt ut labore et dolore mag na aliqua. Utes enim ad minim veniam, quis nostrud exerck itation ullam co laboris nisi ut aliquip ex ea commodo coes nsequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elitss ed do eiusmod tempor incididunt ut labore et dolore mag na aliqua. Utes enim ad minim veniam, quis nostrud exerck itation ullam co laboris nisi ut aliquip ex ea commodo coes nsequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                    </div>
                </div>
                <div class="our-right col-lg-7 col-md-7 col-sm-6 col-xs-12">
                    <img alt="images" src="~/Assets/LayOutIndex/images/preview/blog/blog-post-2.jpg" class="img-responsive">
                </div>
            </div>
            <div class="row we-are">
                <div class="we-are-left col-lg-6 col-md-6 col-sm-6 col-xs-12 block">
                    <div class="block-title">
                        <h2>who we are</h2>
                    </div>
                    <div class="block-content">
                        <div class="faq-wrapper about-wrapper">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <span class="count"><i class="fa fa-minus-square-o"></i></span><span>who we are</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in nisi ut nulla iaculs trist iq ue in vitae nibh. Phasellus ac nisl vel erat mollis aliquam. Morbi non orci consq ua t, mat tis en im et, impe rdiet eros. Phasellus eget dolor in dui posuere consequat et sed tortor. Pe llentes que feugiat id mi at ultrices. Suspendisse at ante sollici tudin ipsum iaces. Pellentes que feugia id mi at ultrices.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span class="count"><i class="fa fa-minus-square-o"></i></span><span>our mission</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in nisi ut nulla iaculs trist iq ue in vitae nibh. Phasellus ac nisl vel erat mollis aliquam. Morbi non orci consq ua t, mat tis en im et, impe rdiet eros. Phasellus eget dolor in dui posuere consequat et sed tortor. Pe llentes que feugiat id mi at ultrices. Suspendisse at ante sollici tudin ipsum iaces. Pellentes que feugia id mi at ultrices.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span class="count"><i class="fa fa-minus-square-o"></i></span><span>what we do</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in nisi ut nulla iaculs trist iq ue in vitae nibh. Phasellus ac nisl vel erat mollis aliquam. Morbi non orci consq ua t, mat tis en im et, impe rdiet eros. Phasellus eget dolor in dui posuere consequat et sed tortor. Pe llentes que feugiat id mi at ultrices. Suspendisse at ante sollici tudin ipsum iaces. Pellentes que feugia id mi at ultrices.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span class="count"><i class="fa fa-minus-square-o"></i></span><span>our clients</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in nisi ut nulla iaculs trist iq ue in vitae nibh. Phasellus ac nisl vel erat mollis aliquam. Morbi non orci consq ua t, mat tis en im et, impe rdiet eros. Phasellus eget dolor in dui posuere consequat et sed tortor. Pe llentes que feugiat id mi at ultrices. Suspendisse at ante sollici tudin ipsum iaces. Pellentes que feugia id mi at ultrices.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="we-are-right col-lg-6 col-md-6 col-sm-6 col-xs-12 block">
                    <div class="block-title">
                        <h2>our skill</h2>
                    </div>
                    <div class="block-content">
                        <div class="skill-gruop">
                            <h3>photoshop</h3>
                            <div class="progress ">
                                <div class="progress-active" style="width : 80%"></div>
                                <span style="left : 80%">80</span>
                            </div>
                        </div>
                        <div class="skill-gruop">
                            <h3>html / css</h3>
                            <div class="progress ">
                                <div class="progress-active" style="width : 90%"></div>
                                <span style="left : 90%">90</span>
                            </div>
                        </div>
                        <div class="skill-gruop">
                            <h3>wordpress</h3>
                            <div class="progress ">
                                <div class="progress-active" style="width : 85%"></div>
                                <span style="left : 85%">85</span>
                            </div>
                        </div>
                        <div class="skill-gruop">
                            <h3>Magento</h3>
                            <div class="progress ">
                                <div class="progress-active" style="width : 95%"></div>
                                <span style="left : 95%">95</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row crazy-team">
                <div class="page-team-content">
                    <div class="block-title">
                        <h2>crazy team</h2>
                    </div>
                    <div class="block-content">
                        <div id="crazy-team-slide" class="owl-carousel owl-theme"  >
                            <div class="item">
                                <div class="team-item">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Assets/LayOutIndex/images/preview/team/avatarQuang.jpg" alt="team">
                                    </a>
                                    <h2 class="team-name"><a href="#">Trần Minh Quang</a></h2>
                                    <h3>DEVELOPER & HTML/CSS</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-item">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Assets/LayOutIndex/images/preview/team/avatarDat.jpg" alt="team">
                                    </a>
                                    <h2 class="team-name"><a href="#">Vương Toàn Đạt</a></h2>
                                    <h3>LEADER & DEVELOPER</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="team-item">
                                    <a href="#">
                                        <img class="img-responsive" src="~/Assets/LayOutIndex/images/preview/team/avatarVinh.jpg" alt="team">
                                    </a>
                                    <h2 class="team-name"><a href="#">Đồng Văn VInh</a></h2>
                                    <h3>ACCOUNTANT & DESIGNER</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE SECTION WITH SIDEBAR -->

</div>
<!-- /Content area -->
<!--[if gte IE 9]><!-->
<script src="~/Assets/LayOutIndex/js/plugins/jquery/jquery-2.1.4.min.js"></script><!--<![endif]-->
<script src="~/Assets/LayOutIndex/js/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/LayOutIndex/js/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Assets/LayOutIndex/js/plugins/superfish/js/superfish.min.js"></script>
<script src="~/Assets/LayOutIndex/js/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>

<script src="~/Assets/LayOutIndex/js/plugins/jquery.sticky.min.js"></script>
<script src="~/Assets/LayOutIndex/js/plugins/jquery.easing.min.js"></script>

<!-- JS Page Level -->
<script src="~/Assets/LayOutIndex/js/plugins/owlcarousel2/owl.carousel.min.js"></script>
<script src="~/Assets/LayOutIndex/js/plugins/waypoints/waypoints.min.js"></script>
<script src="~/Assets/LayOutIndex/js/theme-ajax-mail.js"></script>
<script src="~/Assets/LayOutIndex/js/theme.js"></script>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="~/Assets/LayOutIndex/js/plugins/jquery.cookie.js"></script>
@*<script src="~/Assets/LayOutIndex/js/theme-config.js"></script>*@
